@import url(./estilos/header.css);

:root{
--cor-de-fundo:#EBC7C7;
--cor-da-fonte:#FFFFFF;
--cor-fonte-titulos:#FFFFFF;
--cor-de-fundo-cabecalho:#D9D9D9;
}

body{
background-color: var(--cor-de-fundo);
}
.conteudo1{
    position: relative;
    background-color: #2B0C0C;
    width: 245px;
    height: 165px;
    margin-left: 45px;
    line-height:20px ;
}
.conteudo1 p{
    color: #FFFFFF;
    padding: 40px 5px;
}
.conteudo1 img{
    position: absolute;
    left: 200px;
    bottom: 120px;
}
.conteudo2{
    position: relative;
    background-color: black;
    width: 273px;
    height: 201;
    margin-left: 124px;
    line-height: 10px;
}
.conteudo2 img{
    position: absolute;
    left: 100;
    bottom: 50;
}
.conteudo2 p{
    color: white;
    padding: 50px 10px;
}
.conteudo3{
    position: relative;
    background-color: #4E1F0B;
    width: 273px;
    height: 200px;
    margin-left: 12px;
    line-height: 20px;
}