@import url(./estilos/header.css);

:root{
--cor-de-fundo:#EBC7C7;
--cor-da-fonte:#FFFFFF;
--cor-fonte-titulos:#FFFFFF;
--cor-de-fundo-cabecalho:#D9D9D9;
}

body{
background-color: var(--cor-de-fundo);
}
.conteudo1{
    background-color: #2B0C0C;
}
.conteudo1 p{
    color: #FFFFFF;
}