@import url(./estilos/header.css);

:root{
--cor-de-fundo:#EBC7C7;
--cor-da-fonte:#FFFFFF;
--cor-fonte-titulos:#FFFFFF;
--cor-de-fundo-cabecalho:#D9D9D9;
}

body{
background-color: var(--cor-de-fundo);
}
.conteudo1{
    position: relative;
    background-color: #2B0C0C;
    width: 261px;
    height: 225px;
}
.conteudo1 p{
    color: #FFFFFF;
}
.conteudo1 img{
    position: absolute;
    top: 300px;
}