.cabecalho{
background-color: var(--cor-de-fundo-cabecalho);
color:white;
display:flex;
justify-content:end;
}

.cabecalho--menu-hamburguer{
    height: 33px;
    width: 35px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/Vector.png);
}